/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

:root {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.flex-container .flex-item {
  width: 12.5rem;
  height: 12.5rem;
}
.flex-container .flex-item.item-1 {
  background: #6941c6;
}
.flex-container .flex-item.item-2 {
  background: #00d1b2;
}
.flex-container .flex-item.item-3 {
  background: #f5a623;
}

h1 {
  font-size: 4.5rem;
  line-height: 5.625rem;
  letter-spacing: -0.02em;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    color: red;
  }
}

.contact .headings .title {
  color: blue;
}
@media (min-width: 768px) {
  .contact .headings .title {
    color: red;
  }
}

@media (min-width: 768px) {
  .contact .headings .title {
    color: red;
  }
}