// Normal variable
// $color-brand: #6941c6;
// $color-success: #00d1b2;
// $color-warning: #f5a623;
// $color-danger: #ff3860;

$white: #fff;
$black: #000;
// Map variable
$colors: (
  brand: #6941c6,
  success: #00d1b2,
  warning: #f5a623,
  danger: #ff3860,
);
